@model Integration.ViewModels.informationEmployee
<div class="bg-light rounded h-100 p-4">
    <h6 class="mb-4"> Information Employees</h6>
    <form method="post" action="/managerPersonal/changeInformation">
        <div class="col-12">
            <div class="row">
                <div class="mb-3  col-md-2 ">
                    <label class="form-label">Number Employee</label>
                    <input type="text" class="form-control" name="EmployeeNumber" value="@Model.EmployeeNumber"  readonly>
                </div>
                <div class="mb-3 col-md-1">
                    <legend class="col-form-label col-sm-2 pt-0">Gender</legend>
                    <div class="col-sm-10">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="CurrentGender" id="gridRadios1" value="Male" required @if (Model.CurrentGender=="Male" )
                            {
                                <text> checked</text>
                            }> Male
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="CurrentGender" id="gridRadios2" value="Female" required @if (Model.CurrentGender == "Female")
                            {
                                <text> checked</text>
                            }> Female
                        </div>
                    </div>
                </div>
                <div class="mb-3  col-md-2 ">
                    <label class="form-label">Hire Date</label>
                    <input type="datetime" class="form-control" value="@Model.hireDateForWorking" readonly>
                </div>
                <div class="mb-3  col-md-2 ">
                    <label class="form-label">Termination Date</label>
                    <input type="datetime" class="form-control" name="TerminationDate" value="@Model.TerminationDate" readonly>
                </div>
                <div class="mb-3  col-md-4 ">
                    <label class="form-label">Number Days Requirement Of Working Per Month</label>
                    <input type="number" class="form-control" name="NumberDaysRequirementOfWorkingPerMonth" min="0" max="6" value="@Model.NumberDaysRequirementOfWorkingPerMonth">
                </div>
            </div>
            <div class="row">
                <div class="mb-3 col-md-4">
                    <label class="form-label">First Name</label>
                    <input type="text" class="form-control" name="CurrentFirstName" required value="@Model.CurrentFirstName">
                </div>
                <div class="mb-3 col-md-4">
                    <label class="form-label">Middle Name</label>
                    <input type="text" class="form-control" name="CurrentMiddleName" value="@Model.CurrentMiddleName">
                </div>
                <div class="mb-3 col-md-4">
                    <label class="form-label">Last Name</label>
                    <input type="text" class="form-control" name="CurrentLastName" required value="@Model.CurrentLastName">
                </div>
            </div>
            <div class="row">
                <div class="mb-3 col-md-6">
                    <label class="form-label">Email</label>
                    <input type="email" class="form-control" name="CurrentPersonalEmail" required value="@Model.CurrentPersonalEmail">
                </div>
                <div class="mb-3 col-md-6">
                    <label class="form-label">Phone Number</label>
                    <input type="number" class="form-control" name="CurrentPhoneNumber" required value="@Model.CurrentPhoneNumber">
                </div>
            </div>
            <div class="row">
                <div class="mb-3 col-md-4">
                    <label class="form-label">Birth Day</label>
                    <input type="datetime" class="form-control" name="BirthDate" required value="@Model.BirthDate">
                </div>
                <div class="mb-3 col-md-4">
                    <label class="form-label">Social Security Number</label>
                    <input type="number" class="form-control" name="SocialSecurityNumber" required value="@Model.SocialSecurityNumber">
                </div>
                <div class="mb-3 col-md-4">
                    <label class="form-label">Drivers License</label>
                    <input type="text" class="form-control" name="DriversLicense" required value="@Model.DriversLicense">
                </div>
            </div>
            <div class="row">
                <div class="mb-3 col-md-6">
                    <label class="form-label">Current Address</label>
                    <input type="text" class="form-control" name="CurrentAddress1" required value="@Model.CurrentAddress1">
                </div>
                <div class="mb-3 col-md-6">
                    <label class="form-label">Permanent Address</label>
                    <input type="text" class="form-control" name="CurrentAddress2" value="@Model.CurrentAddress2">
                </div>
            </div>
            <div class="row">
                <div class="mb-3 col-md-4">
                    <label class="form-label">City</label>
                    <input type="text" class="form-control" name="CurrentCity" required value="@Model.CurrentCity">
                </div>
                <div class="mb-3 col-md-4">
                    <label class="form-label">Country</label>
                    <input type="text" class="form-control" name="CurrentCountry" required value="@Model.CurrentCountry">
                </div>
                <div class="mb-3 col-md-4">
                    <label class="form-label">Zip</label>
                    <input type="text" class="form-control" name="CurrentZip" required value="@Model.CurrentZip">
                </div>
            </div>
            <div class="row">
                <div class="mb-3 col-md-3">
                    <label class="form-label">Current Marital Status</label>
                    <input type="text" class="form-control" name="CurrentMaritalStatus" required value="@Model.CurrentMaritalStatus">
                </div>
                <div class="mb-3 col-md-3">
                    <label class="form-label">Ethnicity</label>
                    <input type="text" class="form-control" name="Ethnicity" required value="@Model.Ethnicity">
                </div>
                <div class="mb-3 col-md-3">
                    <label class="form-label">Shareholder Status</label>
                    <input type="text" class="form-control" required name="ShareholderStatus"
                    @if (@Model.ShareholderStatus == 1)
                    {
                        <text> value="Shareholder" </text>
                    }
                    else
                    {
                        <text> value="Non Shareholder" </text>
                    }
                    >
                </div>
                @await Component.InvokeAsync("Benefit", new {id = Model.BenefitPlanId, nameBenefit = Model.BenefitPlanName})
            </div>
            <div class="row">
                <div class="mb-3 col-md-3">
                    <label class="form-label">SSN</label>
                    <input type="number" class="form-control" name="Ssn" required value="@Model.Ssn">
                </div>
                <div class="mb-3 col-md-3">
                    <label class="form-label">Pay Rate</label>
                    <input type="text" class="form-control" name="PayRate" required value="@Model.PayRate">
                </div>
@*                 <div class="mb-3 col-md-3">
                    <label class="form-label">Pay Rate Name</label>
                    <input type="text" class="form-control" name="PayRatesIdPayRates" required value="@Model.PayRatesName" readonly>
                </div> *@
                @await Component.InvokeAsync("PayRates", new { id = Model.PayRatesIdPayRates, namePayrates = Model.PayRatesName })
                <div class="mb-3 col-md-3">
                    <label class="form-label">Vacation Days</label>
                    <input type="number" class="form-control" name="VacationDays" required value="@Model.VacationDays">
                </div>
            </div>
            <div class="row">
                <div class="mb-3 col-md-6">
                    <label class="form-label">Paid To Date</label>
                    <input type="number" class="form-control" name="PaidToDate" required min="1" max="100" value="@Model.PaidToDate">
                </div>
                <div class="mb-3 col-md-6">
                    <label class="form-label">Paid Last Year</label>
                    <input type="number" class="form-control" name="PaidLastYear" required min="1" max="100" value="@Model.PaidLastYear">
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <a asp-action="Index" asp-controller="managerPersonal" class="asp-style-btn btn-style m-md-2 col-md-2">
                        Back
                    </a>
                    <button type="submit" class="btn-style m-md-2 col-md-2">Save</button>
                    <a asp-action="delete" asp-controller="managerPersonal" asp-route-numberEmployment="@Model.EmployeeNumber" class="asp-style-btn btn-style m-md-2 col-md-2">
                        Remove
                    </a>
                </div>

            </div>
        </div>
    </form>
</div>