@model Integration.Data.Personal

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Personal</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentMiddleName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentMiddleName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SocialSecurityNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SocialSecurityNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DriversLicense)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DriversLicense)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentAddress1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentAddress1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentAddress2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentAddress2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentCountry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentCountry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentZip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentZip)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentGender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentGender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentPhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentPhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentPersonalEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentPersonalEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentMaritalStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentMaritalStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ethnicity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ethnicity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShareholderStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShareholderStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BenefitPlan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BenefitPlan.BenefitPlansId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PersonalId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
